button {
  background-color: $btn-bg-color;
  border: 1.5px solid $btn-border-color;
  color: $btn-text-color;
  border-radius: 4px;
  padding: 4px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: $btn-bg-hover;
  border: 1.5px solid $btn-border-hover;
}

button:active {
  background-color: $btn-bg-active;
  border: 1.5px solid $btn-border-active;
}
