input {
  background: $input-bg-color;
  border: 2px solid $input-border-color;
  color: $input-text-color;
  border-radius: 16px;
  padding: 10px 16px;
  font-size: 1.125rem;
  font-weight: 700;
}

input:hover {
  background-color: $input-bg-hover;
}
input:focus {
  background-color: $input-bg-focus;
}

.input_white {
  border: 1.5px solid $mint-condition;
  color: $mint-condition;
}

.input_white:hover {
  background-color: $mint-condition;
  color: $dark-pine;
}

.input_white:focus {
  background-color: $mint-condition;
  color: $dark-pine;
}

.input_white::placeholder {
  color: $mint-condition;
}

.input_white:hover::placeholder {
  color: $dark-pine;
}

.input_white:focus::placeholder {
  color: $dark-pine;
}
