.contact_section {
  position: relative;
  background-color: $burnt-yellow;
  background-image: url('img/background-pattern/boxpattern.png');
  background-size: 15%;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sixth_arrow {
    width: 299px;
    height: 220px;
    background-image: url('img/arrows/arrow-mobile-6.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 17%;
    top: -145px;
    z-index: 50;
  }

  .contact_article {
    padding: 60px 0 45px;
    width: 286px;
    position: relative;

    .lamp_SVG {
      cursor: pointer;
      width: 171px;
      height: 145px;
      position: absolute;
      left: 111px;
      top: 64px;
    }

    .contact_header {
      color: $dark-pine;
    }

    .contact_form {
      width: 100%;
      padding-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;

      .contact_input {
        width: 100%;
      }
    }
  }
}
