.header_section {
  background-image: url('../img/background/background-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 567px;

  .grace_logo_img {
    margin: auto;
    height: 185px;
    width: auto;
    display: block;
    position: relative;
    top: 62px;
  }
}
