h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  color: $green-pea;
}

p {
  font-size: 1.125rem;
  letter-spacing: -0.4px;
  line-height: 1.625rem;
}
