*:hover::placeholder {
  color: $mint-condition;
}

a:hover {
  color: $a-hover;
}

a:visited:hover {
  color: $a-visited;
}

.link_effect:hover::before,
.link_effect:hover::after {
  width: 100%;
  opacity: 1;
}

.link_effect:hover:active::before {
  width: 0;
  opacity: 0;
}

button:hover {
  background-color: $btn-bg-hover;
  border: 2px solid $btn-border-hover;
}

.secondary_button:hover {
  background-color: $salmon;
}

input:hover {
  background-color: $input-bg-hover;
  color: $input-text-hover;
}

.input_white:hover {
  background-color: $mint-condition;
  color: $dark-pine;
}

.input_white:hover::placeholder {
  color: $dark-pine;
}
