@mixin buttonReset {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

@mixin buttonResetBgColor {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
