* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: 1.5px solid $focus-color;
}

::placeholder {
  color: $placeholder-color;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: lowercase;
}

body {
  font-family: $font-family;
  background-color: $bg-color;
  color: $color;
}

ol,
ul {
  list-style: none;
}

.hidden {
  display: none !important;
}
