$flamingo: #f49c98;
$mint-condition: #e8e8e8;
$dark-pine: #365243;
$burnt-yellow: #fcd68f;
$green-pea: #629076;
$onyx: #1e1e1e;
$salmon: #f1c2a6;

$bg-color: #e8e8e8;
$color: #e8e8e8;

$h-color: #629076;
$h2-color: #365243;

$a-color: #e8e8e8;
$a-active: #e8e8e8;
$a-hover: #e8e8e8;
$a-visited: #e8e8e8;

$btn-bg-color: #fcd68f;
$btn-bg-active: #f49c98;
$btn-bg-hover: #f49c98;
$btn-text-color: #1e1e1e;
$btn-text-active: #1e1e1e;
$btn-text-hover: #1e1e1e;
$btn-border-color: #1e1e1e;
$btn-border-active: #1e1e1e;
$btn-border-hover: #1e1e1e;

$input-bg-color: transparent;
$input-bg-focus: #365243;
$input-bg-hover: #365243;
$input-text-color: #365243;
$input-text-focus: #e8e8e8;
$input-text-hover: #e8e8e8;
$input-border-color: #365243;
$input-border-focus: #ffffff;
$input-border-hover: #ffffff;
$placeholder-color: #365243;

$focus-color: #ffffff;

$font-type: 'Roboto Condensed', sans-serif;
