$flamingo: #f49c98;
$mint-condition: #e8e8e8;
$dark-pine: #365243;
$burnt-yellow: #fcd68f;
$green-pea: #629076;
$onyx: #1e1e1e;
$salmon: #f1c2a6;
$white: #ffffff;
$semi-white: #ffffff80;
$semi-yellow: #fdeac7;

$bg-color: $mint-condition;
$color: $mint-condition;

$h-color: $green-pea;
$h2-color: $dark-pine;

$a-color: $mint-condition;
$a-active: $mint-condition;
$a-hover: $mint-condition;
$a-visited: $salmon;

$btn-bg-color: $burnt-yellow;
$btn-bg-active: $flamingo;
$btn-bg-hover: $flamingo;
$btn-text-color: $onyx;
$btn-text-active: $onyx;
$btn-text-hover: $onyx;
$btn-border-color: $onyx;
$btn-border-active: $onyx;
$btn-border-hover: $onyx;

$input-bg-color: transparent;
$input-bg-focus: $dark-pine;
$input-bg-hover: $dark-pine;
$input-text-color: $dark-pine;
$input-text-focus: $mint-condition;
$input-text-hover: $mint-condition;
$input-border-color: $dark-pine;
$input-border-focus: $white;
$input-border-hover: $white;
$placeholder-color: $dark-pine;

$focus-color: rgba($mint-condition, 0.455);

$font-family: 'Inter', sans-serif;

$space-between: 30px;

$border-yellow: 10px solid $semi-white;
